@stitches;

/* 
You can also use createTheme, but that would 
require you to use something like `next-themes`
*/
@media (prefers-color-scheme: dark) {
  :root {
    --colors-foreground: #fff;
    --colors-backgroundStart: #000;
    --colors-backgroundEnd: #000;

    --colors-primaryGlow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --colors-secondaryGlow: linear-gradient(to bottom right,
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0.3));

    --colors-tileStartRgb: 2, 13, 46;
    --colors-tileEndRgb: 2, 5, 19;
    --colors-tileBorder: conic-gradient(#ffffff80,
        #ffffff40,
        #ffffff30,
        #ffffff20,
        #ffffff10,
        #ffffff10,
        #ffffff80);

    --colors-calloutRgb: 20, 20, 20;
    --colors-calloutBorderRgb: 108, 108, 108;
    --colors-cardRgb: 100, 100, 100;
    --colors-cardBorderRgb: 200, 200, 200;
  }
}